@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #191919;
}

.text-shadow-light {
  text-shadow: 0 0 1px #e9e9e9;
}

.text-shadow-dark {
  text-shadow: 0 0 1px #141414;
}