@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: #87CEEB;
}

.text-shadow {
  text-shadow: 0 0 5px #191919;
}
